doctype html
html
  head
    meta charset="utf-8"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    title 画像合成
  body
    #wrapper.align.center
      == yield
